body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Example CSS for the custom button */
.custom-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  /* border-end-end-radius: 20px; */
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  right: 10px;

}
